* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#current-month {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

#current-date {
    font-size: 12px;
    text-align: center;
}

h4 {
    font-size: 14px;
    font-family: korolev, sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.calendar-container {
    width: 370px;
    height: 200px;
    font-size: 62.5%;
    width: 370px;
    height:auto;
    background-color:#53BECA;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
    
}

#calendar {
    width: 370px;
    height:430px;
    border-radius: 15px;
    /*background-color:  rgb(170, 159, 154);
    border-radius: 5px 20px 5px;*/
    
}

.month  {
    width: 100%;
    height: 85px;
    background-color: #122A51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    

}

#prev-toggle {
    font-size: 15px;
    font-family: korolev, sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
}

#next-toggle {
    font-size: 15px;
    font-family: korolev, sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
}

.weekdays   {
    font-size: 12px;
    font-family: korolev, sans-serif;
    font-weight: 300;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: 12px;
    border-radius: 5px 20px 5px;
}

.days {
    font-size: 12px;
    font-family: korolev, sans-serif;
    font-weight: 300;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
}

.days div {
    font-size: 12px;
    font-family: korolev, sans-serif;
    font-weight: 300;
    font-size: 10px;
    padding-left: 3px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    border: solid white;
    border-width: 1px;
    
}

.prev-date {
    background-color: #1f4686;
}

.next-date {
    background-color:   #1f4686;
}

.today {
    background-color:#F47840;
}

button {
    height: 50px;
    width: 15%;
    border-radius: 5px 20px 5px;
    background-color: #122A51;
    color: #F47840;
    margin-left: 10px;
}

#input {
    height:50px;
    width: 75%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    background-color: #A8DEE9;
}

