* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    float: left;
}


#time {
    height: 70px;
    display: inline-block;
    float: right;
    text-align: center;
    margin-right: 30px;
    border: dotted rgb(163, 159, 159);
    border-width: 1px;
    width: 275px;
}

#date {
    height: 70px;
    display: inline-block;
    text-align: center;
    border: dotted rgb(163, 159, 159);
    border-width: 1px;
    width: 450px;
}

#randomFact {
    height: 55px;
    width: 740px;
    border: dotted rgb(163, 159, 159);
    border-radius: 10px;
    border-width: 1px;
    display:inline-block;
    float: right;
    margin-top: 50px;
}

.hour-block {
    height: 55px;
    width: 740px;
    border: solid black;
    border-radius: 10px;
    border-width: 1px;
    

}

#saveBtn {
    height: 40px;
    width: 40px;
    border: solid black;
    border-width: 1px;
    border-radius: 5px 20px 5px;
    background-color: rgb(161, 159, 158);
    float: right;
    z-index: -1;
    margin: 5px 5px 0 0;
    
}
#description {
    background-color: rgb(209, 196, 190);
}

#date-time-set {
    height: 40px;
    width: 215px;
    border: solid black;
    border-radius: 20px;
    border-width: 1px;
    background-color: rgb(161, 159, 158);
    float: right;
    margin: 5px 5px 0 5px;
}