* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 25px 25px 25px 25px;

}


#display-reminder {
    font-family: korolev-compressed, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
}

#gif {
    width: 370px;
    height: 190px;
    border: solid black;
    border-width: 1px;
    box-shadow: 0 0.5rem 1rem  rgb(65, 63, 62);
}

#gif-display {
    font-family: korolev-compressed, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    padding: 60px;
}

#randomFact {
    height: 55px;
    width: 100%;
    border: dotted rgb(163, 159, 159);
    border-radius: 10px;
    border-width: 1px;
    display:inline-block;
    margin-top: 30px;
}



